main {
  background-color: var(--bg-color);
  padding: var(--padding-section);
}

.orientation-vector {
  width: 40%;
  height: 100%;
  margin: 0;
}

.title-white {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
