button {
  width: 100px;
  height: 32px;
  border-radius: 6px;
  font-weight: 500;
  line-height: 26px;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.red-border-button {
  border: 1px solid var(--light-red);
}

.red-border-button a {
  color: var(--light-red);
}

.white-border-button {
  border: 1px solid var(--soft-white);
  background-color: var(--light-red);
}

.white-border-button a {
  color: var(--soft-white);
}
