.container {
  padding: var(--padding-section);
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 40rem;
  height: 35rem;
}

.text-information {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  height: 8rem;
}

.line-red {
  background-color: var(--red);
  width: 13rem;
  height: 2px;
  border-radius: 4px;
  position: relative;
  top: -10px;
}

form {
  margin: 2rem auto;
}

.field {
  margin-bottom: 1em;
}

input {
  height: 3rem;
}

input,
textarea {
  padding: 10px;
  border: 1px solid rgba(40, 40, 40, 0.5);
  border-radius: 4px;
  width: 500px;
  font-weight: 300;
  font-size: 18px;
  line-height: 29px;
}

input,
textarea,
button {
  font-size: 1rem;
  color: var(--light-grey);
  border-radius: 5px;
  border: 1px solid rgba(40, 40, 40, 0.5);
}

.form-container {
  margin-bottom: 10px;
}

fieldset {
  border: 0;
  max-width: 500px;
}

.field-inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.field-inline input {
  width: 30%;
  margin-bottom: 15px;
}
