.title-black {
  color: var(--black);
  font-size: 2rem;
}

.title-white {
  color: var(--white);
  font-size: 2rem;
  font-weight: 400;
  transition: color 1s;
}

.title-white:hover {
  color: var(--black)
}

.subtitle-white {
  color: var(--white);
  font-weight: 600;
  line-height: 64px;
}
