.content {
  align-items: center;
  gap: 20px;
  width: 70%;
  height: 30%;
  padding: 40px;
  text-align: justify;
}

.about-container,
.team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-section);
  background-color: var(--bg-color);
}

.about-container img {
  width: 20%;
  height: 20%;
}

.team {
  flex-direction: column;
}

.team-text {
  text-align: center;
}

.team-members {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 3rem 0;
  gap: 50px;
}

.member-one {
  width: 320px;
  height: 440px;
  background: url("https://i.ibb.co/RTDbC8b/Patricia.png") no-repeat;
}

.member-two {
  width: 320px;
  height: 440px;
  background: url("https://i.ibb.co/YhYtCQ5/Felipe.png") no-repeat;
}

.member-one:hover {
  background: url("https://i.ibb.co/qx1wC60/Patricia-hover.png") no-repeat;
}

.member-two:hover {
  background: url("https://i.ibb.co/Vp6H1Zs/Felipe-hover.png") no-repeat;
}
