main {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 150px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.title-black {
  color: var(--black);
  font-size: 2rem;
}

.text-grey {
  color: var(--medium-grey);
  font-weight: 300;
  font-size: 18px;
}

main img {
  width: 55%;
  height: 100%;
  margin-left: 100px;
}

.banner {
  height: 350px;
  width: 100%;
  background-color: var(--light-red);
  display: flex;
  align-items: center;
  padding: 0 100px;
}

.banner img {
  height: 100%;
  margin-right: 100px;
}


.text-container .subtitle-white {
  color: var(--white);
  font-weight: 600;
  line-height: 64px;
}

.text-container .text-white {
  color: var(--soft-white);
  font-weight: 300;
  font-size: 18px;
}

.donation {
  padding: 75px;
}

.donation .title-black {
  text-align: center;
}

.donation-container {
  display: flex;
  width: 100%;
  padding: 75px 0;
}

.donation-informations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

.subtitle-black {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: var(--black);
}
