main {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 150px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.title-black {
  color: var(--black);
  font-size: 2rem;
}

.text-grey {
  color: var(--medium-grey);
  font-weight: 300;
  font-size: 18px;
}

main img {
  width: 55%;
  height: 100%;
  margin-left: 100px;
}

.banner {
  height: 300px;
  width: 100%;
  background-color: var(--red);
  display: flex;
  align-items: center;
  justify-content: space-around; 
  padding: 0 150px;
}

/* .banner img {
  margin-right: 100px;
} */

.text-container .subtitle-white {
  color: var(--white);
  font-weight: 600;
  line-height: 64px;
}

.text-container .text-white {
  color: var(--soft-white);
  font-weight: 300;
  font-size: 18px;
}

.donation {
  padding: 100px 150px;
}

.donation .title-black {
  text-align: center;
}

.donation-container {
  display: flex;
  margin: 75px auto;
}

.donation-informations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  width: 40%;
}

.donation-informations p {
  margin-bottom: 2rem;
}

.donation-container img {
  width: 60%;
}

.percentage {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--medium-red);
}

.line.red {
  background-color: var(--red);
  width: 200px;
  height: 12px;
  border-radius: 4px;
}

.line.medium-red {
  background-color: var(--medium-red);
  width: 300px;
  height: 12px;
  border-radius: 4px;
}

.line.soft-red {
  background-color: var(--soft-red);
  width: 380px;
  height: 12px;
  border-radius: 4px;
}

.donation-informations .percentage-icon {
  width: 60%;
  height: 32px;
  margin: 0;
}

.subtitle-black {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: var(--black);
}
