main {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  padding: 0 75px;
}

.text-container h1 {
  color: var(--black);
}

.text-container p {
  color: var(--medium-grey);
  font-weight: 300;
  font-size: 18px;
}

main img {
  width: 50%;
  height: 100%;
}

.red-border-button {
  width: 100px;
  height: 32px;
  border: 1px solid var(--light-red);
  border-radius: 6px;
  font-weight: 500;
  line-height: 26px;
  font-size: 1rem;
}

.red-border-button a {
  color: var(--light-red);
  text-decoration: none;
}
